* {
   font-family: 'Open Sans', sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html body {
   background-image: linear-gradient(20deg, rgba(255, 255, 0, 0.5), rgba(240, 255, 255, 1));
}


 /* Header */
.header {
  
   display: flex;
   /* width: 100%; */
   height: 130px;
   /* justify-content:space-between; */
   /* display: block; */
 
}

   .header .home img {
   width: 250px;
   height: 130%;
}

.header .search {
   display: flex;
   width: 50%;
   margin-right: 10%;
   /* padding: 90px 50px; */
   padding-top: 50px;
}

.header form input {
   width: 360%;
   font-size: 25px;
   padding-left: 0px;
   margin-top: 15px;
}

.header .search i {
   margin-left: 410%;
   font-size: 25px;
   padding-top: 22px;
   padding-left: 110px;
   color: black;
}

.header .menu {
   display: flex;
   padding-top: 55px;
   padding-left: 50px;
}
.header .menu .shop {
   text-decoration: none;
   color:black;
   font-size: 20px;
   font-weight: 700;
   margin-top: -5px;
   margin-left: 120px;
}
.header .menu .shop i {
   color:rgb(145, 105, 113);
}

.header .menu .user {
   text-decoration: none;
   margin-left: 20px;
   font-size: 20px;
   color: black;
   font-weight: 700;
}

.header .menu .shop h1 {
   color: red;
   margin-top: -15px;
   position: absolute;
   display: inline-block;
   font-size: 20px;
   font-weight: bold;
}

.header .menu .user i {
   color:rgb(145, 105, 113);
}
 /* Header End */

 /* Content */
.ani {
   margin-top: -18px;
}

.product h3 {
   text-align: center;
   margin-top: 50px;
   font-weight: 700;
}
.product h3:hover {
   color:green;
   cursor: pointer;
}
.product .gach {
   border-bottom: 2px solid;
   width: 50px;
   margin-left: 48.5%;
}
.product h5 { 
   text-align: center;
   font-size: 12px;
   font-weight: 700;
   margin-top: 20px;
}
.product h5:hover {
   color:green;
   cursor: pointer;
}
.product .container {
   display: flex;
   width: 100%;
   padding-right: 50px;
   padding-left: 15px;
}
.product .container img {
   width: 100%;
}

.product .container .product-item {
   margin-right: 50px;
   padding: 15px 15px;
}

.product .container .product-item h3 {
   font-size: 15px;
}

.product .container .product-item .money .sale {
   text-decoration: line-through;
   color: black;
   margin-left: 15px;
}

.product .container .product-item .sell {
   font-size: 12px;
   color: red;
   font-weight: bold;
}

.product .container .product-item .money {
   color: red;
   font-size: 14px;
   font-weight: bold;
}

.product .container .product-item a {
   padding: 5px 10px;
   border: 2px solid;
   color: black;
   text-decoration: none;
   font-weight: bold;
}
.product .container .product-item a:hover {
   color: white;
   background: black;
}
.phong .zoom {
   display: flex;
   margin-top: 50px;
}
.phong img {
   width: 33.3%;
  /* z-index: 0; */
}
.phong .zoom {
   overflow: hidden;
}
.phong img {
  transition: 2s;  
}
.phong img:hover {
   transform: scale(1.1);
}
.new h3 {
   text-align: center;
   margin-top: 50px;
   font-weight: 700;
}
.new h3:hover {
   color:green;
   cursor: pointer;
}
.new .gach {
   border-bottom: 2px solid;
   width: 50px;
   margin-left: 48.5%;
}
.new h5 {
   text-align: center;
   font-size: 15px;
   font-weight: 700;
   margin-top: 20px;
}
.new h5:hover {
   color:green;
   cursor: pointer;
}
.new .container {
   display: flex;
   width: 100%;
   padding-right: 50px;
   padding-left: 15px;
   margin-right: 170px;
   margin-left: 150px;
}   

.new .container img {
   width: 100%;
}

.new .container .new-item {
   margin-right: 50px;
   padding: 15px 15px;
}
.new .container .new-item h3 {
   font-size: 15px;
}
.new .container .new-item .money .sale {
   text-decoration: line-through;
   color: black;
   margin-left: 15px;
}
.new .container .new-item .sell {
   font-size: 12px;
   color: red;
   font-weight: bold;
}
.new .container .new-item .money {
   color: red;
   font-size: 14px;
   font-weight: bold;
}
.new .container .new-item a {
   padding: 5px 10px;
   border: 2px solid;
   color: black;
   text-decoration: none;
   font-weight: bold;   
}
.new .container .new-item a:hover {
   color: #fff;
   background: #000;
   border: none;
}

.newpost h3 { 
   font-weight: bold;
   text-align: center;
   margin-top: 50px;
}
.newpost h3:hover {
   cursor: pointer;
   color: green;
}
.newpost .gach {
   border-bottom: 2px solid;
   width: 50px;
   margin-left: 48.5%;
}
.newpost .newpost-list {
   display: flex;
   /* margin-top: 30px; */
   padding: 60px 120px;
   margin-left: 50px;
}

.newpost .newpost-list .list {
   width: calc(100% / 3);
}

.newpost .newpost-list img {
   width: 90%; 
   height: 50%;
   margin: 0 12px;
}

.newpost .newpost-list .list .ngaythang {
   text-align: center;
}

.newpost .newpost-list .list h3 { 
   font-size: 22px;
}

.newpost .newpost-list .list .title {
   display: flex;
   text-align: center;
}

.newpost .newpost-list .list .gach {
   margin-bottom: 20px;
   margin-top: 20px;
}

.newpost .newpost-list .list h3:hover {
   color: green;
}
/* .email img{
width: 100%;
background-attachment: fixed;
} */


.email {
   background:url(./img/bergsteigerdorf_sachrang_31.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   padding: 200px 0;
   text-align: center;
}
.email h1 {
   color: white;
   font-weight: bold;
}
.email p {
   color: white;
}
.email .form .text {
   font-size: 35px;
   padding: 0px 120px;
   border: none;
} 
.email .form button {
   font-size: 36px;
   padding: 0px 30px;
   margin-left: -5px;
   text-decoration: none;
   color: white;
   background-color: black;
   border: none;
   cursor: pointer;
}    

.formlogin .login {
   margin-right: 50px;
}
 /* Content End */

 /* Footer */
.footer {
   display: flex;
   background-color: black;
   color: white;
}
.footer h1{
   font-size: 25px;
   font-weight: bold;
}
.footer .gioithieu {
   margin-right: 100px;
   margin-left: 100px;
   margin-top: 40px;
}
.footer .info {
   margin-left: 100px;
   margin-top: 40px;
}
.footer .quiz{
   margin-top: 40px;
}
.footer .gioithieu .icon {
   font-size: 30px;
}
.footer .gioithieu .icon i:hover {
   color: rgb(157, 243, 135);
   cursor:  pointer;
}
 /* Footer End */